body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: blue;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.haif {
    width: 50%;
    padding-left: 6%;
}

.haif img {
    width: 78%;
}

.link-button {
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.bg-image {
    background-image: url(new/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(new/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}